<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Writedown demo</title>

  <link rel="stylesheet" href="style.css">

  <meta name="description" content="A demonstration of the Writedown Markdown converter.">
  <meta name="author" content="Adam Hollett">
  <meta name="robots" content="noindex, nofollow">
  <meta name="mobile-web-app-capable" content="yes">
</head>

<body>
  <main class="main">
    <article class="article">
      <%= yield %>
    </article>
  </main>
</body>
</html>
